@require '../../index';

/* Buttons
==========

    <button class="button1">Button</button>
    <button class="button2">Button</button>
    <button class="button3">Button</button>

*/

$acc-button
  display: inline-block

$acc-button-skin-default
  color: white
  background: blue

ACCButton($selector = '.button', $skin = 'default') {
  {$selector} {
    ACCExtend($acc-button, $skin)
  }
}

$acc-button-skin-other-skin
  color: red
  background: yellow


ACCButton('.primary-button')
ACCButton('.secondary-button', 'other-skin')
